
html body{
	background-image: url(images/header-3.jpg);
	background-size: cover;
	font-family: Arial, sans-serif;
	/*background-position:center;*/
	background-repeat: no-repeat;
}

header{
    width: 100%;
	padding: 0px;
	margin: 0px;
	padding-top: 0px;
}

#nav-styles{ 

	/*height: 100%;*/
	/*background-color: black;*/
	color: white;
	padding: 0px;
	margin: 0px;
	background: #241e49 url(images/header-2.jpg) bottom center no-repeat ;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	-webkit-perspective:500px;
	        perspective: 500px;
}

ul{
	display: inline;
	list-style-type: none; 
	padding: 0px;
	margin: 0px;

}

ul  li {

	list-style-type: none;
	display: block;
	padding: 0.5rem;
	text-align: left !important;
	text-decoration: none;


	/*customizing the style further*/
	border-top: 1px solid rgba(255,255,255,0.2);

	/*margin-left: -30px;*/
	/*width: 11em;*/
}
ul li:first-child{
	/*border-top:1px solid rgba(255,255,255,0.2); */
	/*list-style-type: initial;*/

}
ul li:last-child{
	border-bottom: none;
		/*background-color: orange;*/
 
}

ul a li{
	text-decoration: none;
	color: white;
	font-size: 1rem;
	font-weight: 50;
	text-transform: capitalize;
}

  li:hover{
	background-color: #4b9e9ef7;
	cursor: pointer;
	
}

#main-menu-div a{
	 text-decoration: none;;

}


#main-menu-div{
	display: inline;
	position: relative;
	float: right;

	background-color: gray;
	width:11em; 
	height:calc(600px + 11rem);
	border-radius: 3px;
	text-align: right;
}

#main-heading{
	position: relative;
	float: center;
	font-family: inherit;
	/*font-weight: 100;*/
	font-size: 5rem;
	display: inline;
	align-items: center;
	padding-left: 20%;

	/*testing*/
}


.lettee-style{
	color: yellow;

}
#main-heading h1{
	display: inline;
	/*padding-top: 1rem;*/
	letter-spacing: 2px;
	font-weight: 100;
	font-size: 0,5em;
	
	text-shadow: 2px 2px 2px rgba(0,0,0,0.2), 0 0 10px rgba(0,0,0,0.1);
	z-index: 1;
  display: inline-block;
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  
}
@keyframes floating {
  from {
    -webkit-transform: translate(0, 0px) rotateY(-12deg);
            transform: translate(0, 0px) rotateY(-12deg);
    text-shadow: 10px 10px 3px rgba(0,0,0,0.15);
  }
  65% {
    -webkit-transform: translate(0, 15px) rotateY(10deg) rotateX(10deg);
            transform: translate(0, 15px) rotateY(10deg) rotateX(10deg);
    text-shadow: -10px -10px 3px rgba(0,0,0,0.15);
  }
  to {
    -webkit-transform: translate(0, 0px) rotateY(-12deg);
            transform: translate(0, 0px) rotateY(-12deg);
    text-shadow: 10px 10px 3px rgba(0,0,0,0.15);
  }
}

/*tilliting a letter to my clints..*/

#letter-to-clients{
   background-color: white;
  color: black;
  /*border: 8px  solid gray;*/
  box-shadow: 5px 5px 5px 5px black;
  border-radius: 5px;
  /*this property is not working...*/
  padding:10px;
  margin: 10px;

  background-image: linear-gradient(90deg, #b6d7e8 2px, 
                                      transparent 2px, 
                                      rgba(0, 0, 0, 0)),
                   linear-gradient(0deg, #c1c1c1 1px,
                                      transparent 2px, 
                                      transparent);
  background-position:4rem 0, 0 5px;
  background-size: 100% 1.7rem;
  padding-left: 2rem;
  /*postioning the div and resizing the div*/
   width: 600px;
   height:auto;
   position: relative;
   margin-top: -5rem;
   /*margin-bottom:20%;*/
   margin-left: 30%;
   /*margin-right: 20%;*/

   /*experieementing with the transform propperty*/
   transform:rotateZ(-4deg);
   /*transform:rotateX(-20deg);*/
   /*transform: translateY(-10px);*/
    /*transform: translate3d(0px, 0px, -100px);*/
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    /*the movement is done here...*/
    animation-name: moving;
    animation-duration: 50s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;

    /*give it the floating ability*/
    /*animation: flaating 40s infinite ease-in-out;*/

}
#letter-to-clients h3 {
	padding-left: 2rem;
	padding-top: 2.5rem;
	font-size: 2rem;
}
#letter-to-clients p{

	padding-left: 2.0rem;
	padding-top: 0.6rem;
	padding-bottom: 0rem;
	font-size: 1.5rem;

}



.snack{
	font-weight: bold;
	font-style: italic;
	text-decoration: line-through;

	/*font-stretch: semi-condensed*/
}

#company-name{
	font-weight: bold;
	font-style: italic;

}

#Signup{

	 position: absolute;
	 width: auto;
	 height: auto;
	 border-radius: 20px;
	 background-color: #72758C;
	 /*margin-top: 10%;*/
	 margin-left: 30%;

	 /*fallback and real potion os this div*/
        margin-top:15rem;
		transform: rotateZ(-2deg);


	 /*give the signup downward motion*/
	 animation: _move-signup 40s 1 ease-in-out;
}

#signup-pic{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: white;
	position: relative;
	margin-left: calc(50% - 75px);
	margin-top: 3rem;
}

#signup-form-div{
	font-family: inherit;
	height: auto;
	width: auto;
	margin-left: 4rem;
	margin-top: 2rem;
	font-size: 1.5rem;
	background-color: transparent;
}

.unique-form-style{
    display: block;
    padding: 10px;

}

._style-text-input{
	padding: 4px;
	border-radius: 5px;
	font-size: 1.5rem;
	height: 1rem;
}

._style-text-input:focus{
	box-shadow: 0px 0px 2px 2px #7E668C;
	border-color: #7E668C;
}

#signup-sub-btn{
	width: 20rem;
	height: 2rem;
	margin-left: calc(50% - 10rem);
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 5px;
	font-size: 1.5rem;
	font-weight: bold;
 
}

#signup-sub-btn:hover{
	cursor: pointer;
	background-color: #5760A2FF;
	border-color: transparent;

}


@keyframes _move-signup{
     from{
        margin-top: calc(5% - 15rem);
     }
     30%{
        margin-top: calc(15% - 15rem);
            
     }
     30%{
        margin-top: calc(20% - 15rem);
            
     }
     30%{
        margin-top: calc(25% - 15rem);
            
     }
     to{
        /*margin-top:calc(30%-50px);*/
        margin-top:15rem;
        transform: rotateZ(-2deg);

     }
}

#rotating-chapati{
	position: absolute;
	margin-top:20rem; 
	width: 200px;
	height: 200px;
	border-radius: 50%;
	/*background-color: orange;*/
	background-image: url('images/chapat.jpg');
	background-position: center;
	background-color: #FFFCBFFF;
	/*transform: translateZ(500px);*/
	/*margin-left: 50%;*/
    animation:_give-chapti-rot 40s infinite ease-in-out;
	/*transform: rotateZ(10deg);*/
}

#straight-word{
	margin-left: calc(40% - 1rem);
	font-size: 2rem;
}


#amaizing-word{
	position: absolute;
	margin-left: calc(-10% - 1rem) ;
	margin-top: calc(100% - 9.5rem);
	transform: rotateZ(-90deg);
}

#flipped-word{
	font-size: 2rem;

}

@keyframes _give-chapti-rot{
   from{
       transform: rotateZ(10deg);
       margin-left: -3%;
   }
   30%{
   	
       transform: rotateZ(10deg);
       margin-left: 0%;
   }
   30%{
       transform: rotateZ(20deg);
       margin-left: 5%;
   	
   }
   30%{
   	
       transform: rotateZ(30deg);
       margin-left: 10%;
   }
   30%{
   	
       transform: rotateZ(40deg);
       margin-left: 15%;
   }
   30%{
   	
       transform: rotateZ(50deg);
       margin-left: 20%;
   }
   30%{
   	
       transform: rotateZ(60deg);
       margin-left: 25%;
   }
   10%{
       transform: rotateZ(70deg);
       margin-left: 30%;

   }

}

