
html body{
	background-image: url(images/hindimg.svg);
	background-size: cover;
	font-family: Arial, sans-serif;
	box-sizing: border-box;
	background-position:center;
	background-repeat:repeat;
	background-color: #2b3137;
}

header{
    width: 100%;
	padding: 0px;
	margin: 0px;
	padding-top: 0px;
}

#cust-header{
position: absolute;
margin-top: 0px;
margin-left: 0px;
padding:0px;
height: 6rem;
width: 100%;
background-color: #24292e;

}

.home-content{
  position: absolute;
  margin-left: calc(25% - 10rem);
  margin-top: calc(35% - 20rem);
  height: 20rem;
  width: 40rem;
  background-color: transparent;

}

.my-words{
	font-weight: bold;
	font-style: italic;
	text-decoration: line-through;

	/*font-stretch: semi-condensed*/
}
.home-content h1{
	padding-left: 30px;
	font-weight: 300;
	font-size: 2rem;
	color:white;

}

.home-content p {
	padding-left: 35px;
	font-size: 1.4rem;
	font-weight: 300;
	color: rgba(255,255,255,0.6);
}

#cust-logo{
	position: absolute;
	margin-top: 0.5rem;
	margin-left: 6rem;
	color: white;

}

#cust-login{
	position: absolute;
	margin-top: 1rem;
	margin-left: calc(50% + 8rem);
	width: 32rem;
	height: 4rem;
	background-color: transparent;
}

.cust-lab{
	display: block;
	padding-bottom: 5px;
	color: white;
}


#email-div{
	position: absolute;
	margin-left: 2rem;
	margin-top: 5px;
}

#pass-div{
	position: absolute;
	margin-top: 5px;
	margin-left: 15rem;
}


#sub-btn-div{
	position: absolute;
	margin-left: 27rem;
	margin-top: calc(1rem + 5px);
	width: 4rem;
	height: 2rem;
	border-radius: 4px;
	background-color: #2b3137;

}

#sub-btn-div label{
	display: inline;
	position: absolute;
	margin-top: calc(0.5rem);
	margin-left:8px;
	color: white;
}

#sub-btn-div:hover, #sub-btn-div label:hover {
	cursor: pointer;
}
#sub-btn-div:hover{
	box-shadow: 2px 2px 2px 2px gray;

}

#forgot-div{
	position: absolute;
	margin-top: calc(2rem + 10px);
	margin-left: calc(15rem + 30px);
	font-size: 13px;
	color: white;

}

#forgot-div p:hover{
	text-decoration: underline;
	cursor: pointer;
}

#signup-div{
	position: absolute;
	margin-top: calc(35% - 23rem);
	margin-left: calc(25% + 30rem);
	height: 37rem;
	width: 25rem;
	border-radius: 5px;
	background-color: white;
}

#signup-pic{
	position: absolute;
	margin-top: 1rem;
	margin-left: calc(50% - 3rem); 
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	background: url(images/carpic.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #FFFFC6FF;

}

#signup-email-div{
	position: absolute;
	margin-top: 8rem;
	margin-left: calc(50% - 10rem);
	width: 20rem;
	height: 6rem;
	color: #586069;
	background-color: transparent; 
}

.lab{
	display: block;
	font-size: 18px;
	line-height: 1.5;
	/*padding: 2px;*/
}

.mytext{
	width: 99%;
	height: 46px;
	border-radius: 5px;
	font-size: 16px;
	margin-top: 4px;
	cursor: text;


}

#signup-pass-div{
	position: absolute;
	margin-top: 15rem;
	margin-left: calc(50% - 10rem);
	width: 20rem;
	height: 6rem;
	color: #586069;
	background-color: transparent;
}

#signup-pass-sec-div{
	position: absolute;
	margin-top: 22rem;
	margin-left: calc(50% - 10rem);
	width: 20rem;
	height: 6rem;
	color: #586069;
	background-color: transparent;

}

#signup-btn{
	position: absolute;
	margin-left: calc(50% - 10rem);
	margin-top: 33rem;
	width: 20rem;
	height: 6rem;
	color: #586069;
	background-color: transparent;

}

.btn{
	width: 99%;
	color: #fff;
	font-size: 16px;
	border-radius: 6px;
	cursor: pointer;
	background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}

#signup-role{
	position: absolute;
	margin-top: 29rem;
	margin-left: calc(50% - 10rem);
	width: 20rem;
	height: 4rem;
	color: #586069;
	background-color: transparent;
	
}
