
html body{
	background-image: url(images/hindimg.svg);
	background-size: cover;
	font-family: Arial, sans-serif;
	box-sizing: border-box;
	background-position:center;
	background-repeat:repeat;
	background-color: #2b3137;
}

header{
    width: 100%;
	padding: 0px;
	margin: 0px;
	padding-top: 0px;
}

#cust-header{
position: relative;
margin-top: 0px;
margin-left: 0px;
padding:0px;
height: 6rem;
width: 100%;
background-color: #24292e;

}

.home-content{
  position: absolute;
  margin-left: calc(25% - 10rem);
  margin-top: calc(35% - 20rem);
  height: 20rem;
  width: 40rem;
  background-color: transparent;

}

.my-words{
	font-weight: bold;
	font-style: italic;
	text-decoration: line-through;

	/*font-stretch: semi-condensed*/
}
.home-content h1{
	padding-left: 30px;
	font-weight: 300;
	font-size: 2rem;
	color:white;

}

.home-content p {
	padding-left: 35px;
	font-size: 1.4rem;
	font-weight: 300;
	color: rgba(255,255,255,0.6);
}

#cust-logo{
	position: absolute;
	margin-top: -5.5rem;
	margin-left: 6rem;
	color: white;

}

